*/__pycache__/*
data/*
datasets/*
images/*
videos/*
runs/*
checkpoints/*
experiments/*

!data/.keep
!datasets/.keep
!images/.keep
!videos/.keep
!checkpoints/.keep
!runs/.keep
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*.p
pictures/*.png

*/wandb
*tar.gz
*.dat
*.npy
*.mat
!position_per_frame.mat
!neuronal_activity_mat.mat
.vscode/*
!videos/output.gif